extends layouts/main.pug

block content
    .meet-header
        .meet-header__column
            .column__title
                h3=meet.title
        .meet-header__column
            .name_columns
                each item in total
                    h3.column__button=item.name   
        .meet-header__column
            button.column__button +
            button.column__button -
            button.column__button All 
        .meet-header__column
            .column__members
                if meet.members.length===0
                    h3 Members is Empty 😢
                else
                    each item in total
                        a(href=routes.memberDetail(item.id))
                            ul.members-money
                                if item.money>0
                                    li +
                                else if item.money===0
                                    li empty!
                                else 
                                    li -
                                li=item.name
                                li=item.money
            a(href=routes.plusMember(meet.id))
                button.edit-button Plus Member 
            a(href=routes.editMeet(meet.id))
                button.edit-button Edit Meet
            
            
        