mixin meetDetailBlock(member={})
    .meetDetailBlock#jsmeetDetailBlock
        a(href=routes.memberDetail(member.id))
            .meetDetailBlock__name=member.name
            .meetDetailBlock__money=member.money
            .meetDetailBlock__date#jsmemberDate
                .date#jsDate
                .date-etc#jsDateEtc=member.date
            .meetDetailBlock__detail=member.detail
            